variables:
  VITE_LITHUB_API_URL: "/lithub/api"
  VITE_LITHUB_DATA_URL: "/lithub/data"
  VITE_LITHUB_BASE: "/lithub/"
  UV_PROJECT_ENVIRONMENT: ".venv"
  UV_CACHE_DIR: ".uv-cache"
  NODE_ENV: "development"
  UV_LINK_MODE: "copy"
  LITHUB_FRONTEND_PATH: "/var/www/lithub"
  LITHUB_BACKEND_PATH: "/srv/literature-hub"
  LITHUB_SERVICE: "literature-hub"
  LITHUB_USER: "lithub"

stages:
  - prepare
  - test
  - build
  - deploy

.npm:
  image: node:24-alpine
  tags:
    - se164-docker
  before_script:
    - cd frontend/
    - npm ci --cache ../.npm
    - npm ls
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .npm/

.uv:
  image: python:3.13
  stage: test
  tags:
    - se164-docker
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
  before_script:
    - echo $VITE_LITHUB_API_URL
    - echo $VITE_LITHUB_DATA_URL
    - echo $VITE_LITHUB_BASE
    - pip install uv
    - python -V
    - pwd
    - ls -lisah
    - uv sync  --all-groups --all-extras
  after_script:
    - uv cache prune --ci

prepare-js:
  extends: .npm
  stage: prepare
  script:
    - echo "Preparing and checking node environment"
    - npx npm-check-updates

prepare-py:
  extends: .uv
  stage: prepare
  script:
    - echo "Preparing and checking python environment"
    - uv pip freeze
    - uv pip list --outdated

test-py:
  extends: .uv
  stage: test
  script:
    - uv run ruff check
    - uv run ruff format --check

test-vite-lint:
  stage: test
  extends: .npm
  script:
    - npm run lint

test-vite-typing:
  stage: test
  extends: .npm
  script:
    - npm run type-check

build-frontend:
  extends: .npm
  stage: build
  script:
    - export NODE_ENV=production
    - ls -lisah
    - npm run build-only
  artifacts:
    expire_in: 24 hours
    paths:
      - frontend/dist/

deploy-frontend:
  when: manual
  stage: deploy
  tags:
    - se164-bare
  dependencies:
    - build-frontend
  script:
    - echo "Deploying to production"
    - echo $LITHUB_FRONTEND_PATH
    - ls -lisah
    - ls -lisah frontend/dist/
    - sudo /usr/bin/chown -R gitlab-runner "${LITHUB_FRONTEND_PATH}"
    - ls -lisah
    - rsync -av frontend/dist/ "${LITHUB_FRONTEND_PATH}"
    - ls -lisah
    - sudo /usr/bin/chown -R $LITHUB_USER "${LITHUB_FRONTEND_PATH}"

deploy-backend:
  when: manual
  stage: deploy
  tags:
    - se164-bare
  script:
    - echo "Go to deployment location"
    - cd $LITHUB_BACKEND_PATH
    - ls -lisah
    - sudo chown -R gitlab-runner $LITHUB_BACKEND_PATH
    - ls -lisah
    - echo "Stopping service"
    - sudo systemctl stop $LITHUB_SERVICE.service
    - echo "Dropping virtual environment"
    - rm -rf "${LITHUB_BACKEND_PATH}/${UV_PROJECT_ENVIRONMENT}"
    - export UV_PROJECT_ENVIRONMENT="${LITHUB_BACKEND_PATH}/${UV_PROJECT_ENVIRONMENT}"
    - echo "Fetching updated source"
    - git stash  # "reset" softly by stashing (in case files changed)
    - git pull origin main
    - echo "Creating new virtual environment"
    - uv sync --cache-dir $UV_CACHE_DIR --project "${LITHUB_BACKEND_PATH}" --extra server
    - uv pip freeze --project "${LITHUB_BACKEND_PATH}"
    - sudo chown -R $LITHUB_USER $LITHUB_BACKEND_PATH
    - echo "Starting service"
    - sudo systemctl start $LITHUB_SERVICE.service
