.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: 40px 0 0 0;
    padding: 0 2px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.scrollarea {
    overflow-y: auto;
}